
<%- include("partials/header")-%>
    
	<link rel="stylesheet" href="/css/style_tutor.css">

    <h1>Forgot Password</h1>

    <form action="/forgotPassword" method="post">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>
      <label for="db">Type of Account :</label>
      <select id="db" name="db">
        <option>tutor</option>
        <option>student</option>
      </select>
      <p style="color: green; font-style: italic;"><%= message %></p>
      <input type="submit" value="Reset Password">
    </form>

<%- include("partials/footer")-%>

