<%- include("partials/header") %>

    
<link rel="stylesheet" href="/css/style_tutor.css">

<h1>Reset Password</h1>

<form action="/resetPassword/<%= token %>" method="post">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>

  <p style="color: red; font-style: italic;"><%= message %></p>
  <input type="submit" value="Reset Password">
</form>

<%- include("partials/footer") %>
